<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelReMate - Producto</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="lower-main">
            <div class="lm-header">
                <h2 class="fc-darkgray"><span><img class="fileteado" src="/images/fileteadoAp.jpg" alt="fileteado"></span> <%= productCategory.category %>  <span><img class="fileteado" src="/images/fileteadoCi.jpg" alt="fileteado"></span></h2>
                <p><img class="fileteado" src="/images/fileteadoBase.jpeg" alt="fileteado"></p>
            </div>

            <div class="squared-cards-container">
                <% for (let i=0; i<productCategory.length; i++) { %>
                    <div class="sq-card-wrapper">
                        <a href="/productDetail/<% productCategory[i].id %> ">
                            <article class="squared-card">
                                <div class="img-wrapper">
                                    <img src="/images/dummie.jpg" alt="dummie image for testing"> 
                                </div>
                                <div class="title-n-price-container fc-darkgray">
                                    <h3 class="product-title"><%= productCategory[i].title %></h3>
                                    <p class="price"><%= productCategory[i].price %> </p>
                                </div>
                            </article>
                        </a>
                    </div>
                <% }; %>  
            </div>

<!-- 
                } productCategory.forEach(product => { %>
                    <div class="sq-card-wrapper">
                        <a href="/productDetail/< % product.id %> ">
                            <article class="squared-card">
                                <div class="img-wrapper">
                                    < %= product.img %> 
                                </div>
                                <div class="title-n-price-container fc-darkgray">
                                    <h3 class="product-title">< %= product.title %></h3>
                                    <p class="price">< %= product.price %> </p>
                                </div>
                            </article>
                        </a>
                    </div>
                < % }); %> 
            </div>
-->

        </section> 
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>