<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelReMate - Carrito</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/header-n-footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/image-section.css">
    <link rel="stylesheet" href="/css/medias.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <script type="text/javascript" src="/script/register.js"></script>
</head>
<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="container">

            <form class="registration-form" action="/users/userEdit/<%= userToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="form-data-section">
                <label>Mis datos</label> 
                </div>

                <div class="form-data-section">
                    <label>
                        Soy...
                    </label> 
                        <div class="usertype">
                            <label class="cat-option">
                                <input type="radio" value="human" name="usertype" id="human" disabled <%=(userToEdit.usertype=="human") ? "checked" : "" %>>
                                 Humano
                            </label>
                            <label class="cat-option">
                                <input type="radio" value="business" name="usertype" id="business" disabled <%=(userToEdit.usertype=="business") ? "checked" : "" %>>
                                 Empresa
                            </label>
                        </div>
                </div>

                <div class="form-data-section">
                    <input type="text" name="name" id="name" class="input-field" placeholder="Nombre"  value="<%= userToEdit.name %>">
                </div>

                <div class="form-data-section">
                    <input type="text" name="surname" id="surname" class="input-field" placeholder="Apellido"  value="<%= userToEdit.surname %>">
                </div>

                <div class="form-data-section">
                    <input type="text" name="username" id="username" class="input-field" placeholder="Nombre de usuario"  value="<%= userToEdit.username %>">
                </div>

                <div class="form-data-section">
                    <label for="birthdate">Fecha de nacimiento</label> 
                    <input type="date" name="birthdate" id="birthdate" class="input-field"  value="<%= userToEdit.birthdate %>">
                </div>

                <div class="form-data-section">
                    
                    <input type="text" name="email" id="address" class="input-field" placeholder="e-mail"  value="<%= userToEdit.email %>">
                </div>
                
                <div class="form-data-section">
                    <label>País de residencia</label> 
                    <select class="country-selector" name="country" value="<%= userToEdit.country %>">
                        <option value="AF" <%=(userToEdit.country=="AF") ? "selected" : "" %>>Afganistán</option>
                        <option value="AL" <%=(userToEdit.country=="AL") ? "selected" : "" %>>Albania</option>
                        <option value="DE" <%=(userToEdit.country=="DE") ? "selected" : "" %>>Alemania</option>
                        <option value="AD" <%=(userToEdit.country=="AD") ? "selected" : "" %>>Andorra</option>
                        <option value="AO" <%=(userToEdit.country=="AO") ? "selected" : "" %>>Angola</option>
                        <option value="AI" <%=(userToEdit.country=="AI") ? "selected" : "" %>>Anguilla</option>
                        <option value="AQ" <%=(userToEdit.country=="AQ") ? "selected" : "" %>>Antártida</option>
                        <option value="AG" <%=(userToEdit.country=="AG") ? "selected" : "" %>>Antigua y Barbuda</option>
                        <option value="AN" <%=(userToEdit.country=="AN") ? "selected" : "" %>>Antillas Holandesas</option>
                        <option value="SA" <%=(userToEdit.country=="SA") ? "selected" : "" %>>Arabia Saudí</option>
                        <option value="DZ" <%=(userToEdit.country=="DZ") ? "selected" : "" %>>Argelia</option>
                        <option value="AR" <%=(userToEdit.country=="AR") ? "selected" : "" %>>Argentina</option>
                        <option value="AM" <%=(userToEdit.country=="AM") ? "selected" : "" %>>Armenia</option>
                        <option value="AW" <%=(userToEdit.country=="AW") ? "selected" : "" %>>Aruba</option>
                        <option value="AU" <%=(userToEdit.country=="AU") ? "selected" : "" %>>Australia</option>
                        <option value="AT" <%=(userToEdit.country=="AT") ? "selected" : "" %>>Austria</option>
                        <option value="AZ" <%=(userToEdit.country=="AZ") ? "selected" : "" %>>Azerbaiyán</option>
                        <option value="BS" <%=(userToEdit.country=="BS") ? "selected" : "" %>>Bahamas</option>
                        <option value="BH" <%=(userToEdit.country=="BH") ? "selected" : "" %>>Bahrein</option>
                        <option value="BD" <%=(userToEdit.country=="BD") ? "selected" : "" %>>Bangladesh</option>
                        <option value="BB" <%=(userToEdit.country=="BB") ? "selected" : "" %>>Barbados</option>
                        <option value="BE" <%=(userToEdit.country=="BE") ? "selected" : "" %>>Bélgica</option>
                        <option value="BZ" <%=(userToEdit.country=="BZ") ? "selected" : "" %>>Belice</option>
                        <option value="BJ" <%=(userToEdit.country=="BJ") ? "selected" : "" %>>Benin</option>
                        <option value="BM" <%=(userToEdit.country=="BM") ? "selected" : "" %>>Bermudas</option>
                        <option value="BY" <%=(userToEdit.country=="BY") ? "selected" : "" %>>Bielorrusia</option>
                        <option value="MM" <%=(userToEdit.country=="MM") ? "selected" : "" %>>Birmania</option>
                        <option value="BO" <%=(userToEdit.country=="BO") ? "selected" : "" %>>Bolivia</option>
                        <option value="BA" <%=(userToEdit.country=="BA") ? "selected" : "" %>>Bosnia y Herzegovina</option>
                        <option value="BW" <%=(userToEdit.country=="BW") ? "selected" : "" %>>Botswana</option>
                        <option value="BR" <%=(userToEdit.country=="BR") ? "selected" : "" %>>Brasil</option>
                        <option value="BN" <%=(userToEdit.country=="BN") ? "selected" : "" %>>Brunei</option>
                        <option value="BG" <%=(userToEdit.country=="BG") ? "selected" : "" %>>Bulgaria</option>
                        <option value="BF" <%=(userToEdit.country=="BF") ? "selected" : "" %>>Burkina Faso</option>
                        <option value="BI" <%=(userToEdit.country=="BI") ? "selected" : "" %>>Burundi</option>
                        <option value="BT" <%=(userToEdit.country=="BT") ? "selected" : "" %>>Bután</option>
                        <option value="CV" <%=(userToEdit.country=="CV") ? "selected" : "" %>>Cabo Verde</option>
                        <option value="KH" <%=(userToEdit.country=="KH") ? "selected" : "" %>>Camboya</option>
                        <option value="CM" <%=(userToEdit.country=="CM") ? "selected" : "" %>>Camerún</option>
                        <option value="CA" <%=(userToEdit.country=="CA") ? "selected" : "" %>>Canadá</option>
                        <option value="TD" <%=(userToEdit.country=="TD") ? "selected" : "" %>>Chad</option>
                        <option value="CL" <%=(userToEdit.country=="CL") ? "selected" : "" %>>Chile</option>
                        <option value="CN" <%=(userToEdit.country=="CN") ? "selected" : "" %>>China</option>
                        <option value="CY" <%=(userToEdit.country=="CY") ? "selected" : "" %>>Chipre</option>
                        <option value="VA" <%=(userToEdit.country=="VA") ? "selected" : "" %>>Ciudad del Vaticano (Santa Sede)</option>
                        <option value="CO" <%=(userToEdit.country=="CO") ? "selected" : "" %>>Colombia</option>
                        <option value="KM" <%=(userToEdit.country=="KM") ? "selected" : "" %>>Comores</option>
                        <option value="CG" <%=(userToEdit.country=="CG") ? "selected" : "" %>>Congo</option>
                        <option value="CD" <%=(userToEdit.country=="CD") ? "selected" : "" %>>Congo, República Democrática del</option>
                        <option value="KR" <%=(userToEdit.country=="KR") ? "selected" : "" %>>Corea</option>
                        <option value="KP" <%=(userToEdit.country=="KP") ? "selected" : "" %>>Corea del Norte</option>
                        <option value="CI" <%=(userToEdit.country=="CI") ? "selected" : "" %>>Costa de Marfíl</option>
                        <option value="CR" <%=(userToEdit.country=="CR") ? "selected" : "" %>>Costa Rica</option>
                        <option value="HR" <%=(userToEdit.country=="HR") ? "selected" : "" %>>Croacia (Hrvatska)</option>
                        <option value="CU" <%=(userToEdit.country=="CU") ? "selected" : "" %>>Cuba</option>
                        <option value="DK" <%=(userToEdit.country=="DK") ? "selected" : "" %>>Dinamarca</option>
                        <option value="DJ" <%=(userToEdit.country=="DJ") ? "selected" : "" %>>Djibouti</option>
                        <option value="DM" <%=(userToEdit.country=="DM") ? "selected" : "" %>>Dominica</option>
                        <option value="EC" <%=(userToEdit.country=="EC") ? "selected" : "" %>>Ecuador</option>
                        <option value="EG" <%=(userToEdit.country=="EG") ? "selected" : "" %>>Egipto</option>
                        <option value="SV" <%=(userToEdit.country=="SV") ? "selected" : "" %>>El Salvador</option>
                        <option value="AE" <%=(userToEdit.country=="AE") ? "selected" : "" %>>Emiratos Árabes Unidos</option>
                        <option value="ER" <%=(userToEdit.country=="ER") ? "selected" : "" %>>Eritrea</option>
                        <option value="SI" <%=(userToEdit.country=="SI") ? "selected" : "" %>>Eslovenia</option>
                        <option value="ES" <%=(userToEdit.country=="ES") ? "selected" : "" %>>España</option>
                        <option value="US" <%=(userToEdit.country=="US") ? "selected" : "" %>>Estados Unidos</option>
                        <option value="EE" <%=(userToEdit.country=="EE") ? "selected" : "" %>>Estonia</option>
                        <option value="ET" <%=(userToEdit.country=="ET") ? "selected" : "" %>>Etiopía</option>
                        <option value="FJ" <%=(userToEdit.country=="FJ") ? "selected" : "" %>>Fiji</option>
                        <option value="PH" <%=(userToEdit.country=="PH") ? "selected" : "" %>>Filipinas</option>
                        <option value="FI" <%=(userToEdit.country=="FI") ? "selected" : "" %>>Finlandia</option>
                        <option value="FR" <%=(userToEdit.country=="FR") ? "selected" : "" %>>Francia</option>
                        <option value="GA" <%=(userToEdit.country=="GA") ? "selected" : "" %>>Gabón</option>
                        <option value="GM" <%=(userToEdit.country=="GM") ? "selected" : "" %>>Gambia</option>
                        <option value="GE" <%=(userToEdit.country=="GE") ? "selected" : "" %>>Georgia</option>
                        <option value="GH" <%=(userToEdit.country=="GH") ? "selected" : "" %>>Ghana</option>
                        <option value="GI" <%=(userToEdit.country=="GI") ? "selected" : "" %>>Gibraltar</option>
                        <option value="GD" <%=(userToEdit.country=="GD") ? "selected" : "" %>>Granada</option>
                        <option value="GR" <%=(userToEdit.country=="GR") ? "selected" : "" %>>Grecia</option>
                        <option value="GL" <%=(userToEdit.country=="GL") ? "selected" : "" %>>Groenlandia</option>
                        <option value="GP" <%=(userToEdit.country=="GP") ? "selected" : "" %>>Guadalupe</option>
                        <option value="GU" <%=(userToEdit.country=="GU") ? "selected" : "" %>>Guam</option>
                        <option value="GT" <%=(userToEdit.country=="GT") ? "selected" : "" %>>Guatemala</option>
                        <option value="GY" <%=(userToEdit.country=="GY") ? "selected" : "" %>>Guayana</option>
                        <option value="GF" <%=(userToEdit.country=="GF") ? "selected" : "" %>>Guayana Francesa</option>
                        <option value="GN" <%=(userToEdit.country=="GN") ? "selected" : "" %>>Guinea</option>
                        <option value="GQ" <%=(userToEdit.country=="GQ") ? "selected" : "" %>>Guinea Ecuatorial</option>
                        <option value="GW" <%=(userToEdit.country=="GW") ? "selected" : "" %>>Guinea-Bissau</option>
                        <option value="HT" <%=(userToEdit.country=="HT") ? "selected" : "" %>>Haití</option>
                        <option value="HN" <%=(userToEdit.country=="HN") ? "selected" : "" %>>Honduras</option>
                        <option value="HU" <%=(userToEdit.country=="HU") ? "selected" : "" %>>Hungría</option>
                        <option value="IN" <%=(userToEdit.country=="IN") ? "selected" : "" %>>India</option>
                        <option value="ID" <%=(userToEdit.country=="ID") ? "selected" : "" %>>Indonesia</option>
                        <option value="IQ" <%=(userToEdit.country=="IQ") ? "selected" : "" %>>Irak</option>
                        <option value="IR" <%=(userToEdit.country=="IR") ? "selected" : "" %>>Irán</option>
                        <option value="IE" <%=(userToEdit.country=="IE") ? "selected" : "" %>>Irlanda</option>
                        <option value="BV" <%=(userToEdit.country=="BV") ? "selected" : "" %>>Isla Bouvet</option>
                        <option value="CX" <%=(userToEdit.country=="CX") ? "selected" : "" %>>Isla de Christmas</option>
                        <option value="IS" <%=(userToEdit.country=="IS") ? "selected" : "" %>>Islandia</option>
                        <option value="KY" <%=(userToEdit.country=="KY") ? "selected" : "" %>>Islas Caimán</option>
                        <option value="CK" <%=(userToEdit.country=="CK") ? "selected" : "" %>>Islas Cook</option>
                        <option value="CC" <%=(userToEdit.country=="CC") ? "selected" : "" %>>Islas de Cocos o Keeling</option>
                        <option value="FO" <%=(userToEdit.country=="FO") ? "selected" : "" %>>Islas Faroe</option>
                        <option value="HM" <%=(userToEdit.country=="HM") ? "selected" : "" %>>Islas Heard y McDonald</option>
                        <option value="FK" <%=(userToEdit.country=="FK") ? "selected" : "" %>>Islas Malvinas</option>
                        <option value="MP" <%=(userToEdit.country=="MP") ? "selected" : "" %>>Islas Marianas del Norte</option>
                        <option value="MH" <%=(userToEdit.country=="MH") ? "selected" : "" %>>Islas Marshall</option>
                        <option value="UM" <%=(userToEdit.country=="UM") ? "selected" : "" %>>Islas menores de Estados Unidos</option>
                        <option value="PW" <%=(userToEdit.country=="PW") ? "selected" : "" %>>Islas Palau</option>
                        <option value="SB" <%=(userToEdit.country=="SB") ? "selected" : "" %>>Islas Salomón</option>
                        <option value="SJ" <%=(userToEdit.country=="SJ") ? "selected" : "" %>>Islas Svalbard y Jan Mayen</option>
                        <option value="TK" <%=(userToEdit.country=="TK") ? "selected" : "" %>>Islas Tokelau</option>
                        <option value="TC" <%=(userToEdit.country=="TC") ? "selected" : "" %>>Islas Turks y Caicos</option>
                        <option value="VI" <%=(userToEdit.country=="VI") ? "selected" : "" %>>Islas Vírgenes (EEUU)</option>
                        <option value="VG" <%=(userToEdit.country=="VG") ? "selected" : "" %>>Islas Vírgenes (Reino Unido)</option>
                        <option value="WF" <%=(userToEdit.country=="WF") ? "selected" : "" %>>Islas Wallis y Futuna</option>
                        <option value="IL" <%=(userToEdit.country=="IL") ? "selected" : "" %>>Israel</option>
                        <option value="IT" <%=(userToEdit.country=="IT") ? "selected" : "" %>>Italia</option>
                        <option value="JM" <%=(userToEdit.country=="JM") ? "selected" : "" %>>Jamaica</option>
                        <option value="JP" <%=(userToEdit.country=="JP") ? "selected" : "" %>>Japón</option>
                        <option value="JO" <%=(userToEdit.country=="JO") ? "selected" : "" %>>Jordania</option>
                        <option value="KZ" <%=(userToEdit.country=="KZ") ? "selected" : "" %>>Kazajistán</option>
                        <option value="KE" <%=(userToEdit.country=="KE") ? "selected" : "" %>>Kenia</option>
                        <option value="KG" <%=(userToEdit.country=="KG") ? "selected" : "" %>>Kirguizistán</option>
                        <option value="KI" <%=(userToEdit.country=="KI") ? "selected" : "" %>>Kiribati</option>
                        <option value="KW" <%=(userToEdit.country=="KW") ? "selected" : "" %>>Kuwait</option>
                        <option value="LA" <%=(userToEdit.country=="LA") ? "selected" : "" %>>Laos</option>
                        <option value="LS" <%=(userToEdit.country=="LS") ? "selected" : "" %>>Lesotho</option>
                        <option value="LV" <%=(userToEdit.country=="LV") ? "selected" : "" %>>Letonia</option>
                        <option value="LB" <%=(userToEdit.country=="LB") ? "selected" : "" %>>Líbano</option>
                        <option value="LR" <%=(userToEdit.country=="LR") ? "selected" : "" %>>Liberia</option>
                        <option value="LY" <%=(userToEdit.country=="LY") ? "selected" : "" %>>Libia</option>
                        <option value="LI" <%=(userToEdit.country=="LI") ? "selected" : "" %>>Liechtenstein</option>
                        <option value="LT" <%=(userToEdit.country=="LT") ? "selected" : "" %>>Lituania</option>
                        <option value="LU" <%=(userToEdit.country=="LU") ? "selected" : "" %>>Luxemburgo</option>
                        <option value="MK" <%=(userToEdit.country=="MK") ? "selected" : "" %>>Macedonia, Ex-República Yugoslava de</option>
                        <option value="MG" <%=(userToEdit.country=="MG") ? "selected" : "" %>>Madagascar</option>
                        <option value="MY" <%=(userToEdit.country=="MY") ? "selected" : "" %>>Malasia</option>
                        <option value="MW" <%=(userToEdit.country=="MW") ? "selected" : "" %>>Malawi</option>
                        <option value="MV" <%=(userToEdit.country=="MV") ? "selected" : "" %>>Maldivas</option>
                        <option value="ML" <%=(userToEdit.country=="ML") ? "selected" : "" %>>Malí</option>
                        <option value="MT" <%=(userToEdit.country=="MT") ? "selected" : "" %>>Malta</option>
                        <option value="MA" <%=(userToEdit.country=="MA") ? "selected" : "" %>>Marruecos</option>
                        <option value="MQ" <%=(userToEdit.country=="MQ") ? "selected" : "" %>>Martinica</option>
                        <option value="MU" <%=(userToEdit.country=="MU") ? "selected" : "" %>>Mauricio</option>
                        <option value="MR" <%=(userToEdit.country=="MR") ? "selected" : "" %>>Mauritania</option>
                        <option value="YT" <%=(userToEdit.country=="YT") ? "selected" : "" %>>Mayotte</option>
                        <option value="MX" <%=(userToEdit.country=="MX") ? "selected" : "" %>>México</option>
                        <option value="FM" <%=(userToEdit.country=="FM") ? "selected" : "" %>>Micronesia</option>
                        <option value="MD" <%=(userToEdit.country=="MD") ? "selected" : "" %>>Moldavia</option>
                        <option value="MC" <%=(userToEdit.country=="MC") ? "selected" : "" %>>Mónaco</option>
                        <option value="MN" <%=(userToEdit.country=="MN") ? "selected" : "" %>>Mongolia</option>
                        <option value="MS" <%=(userToEdit.country=="MS") ? "selected" : "" %>>Montserrat</option>
                        <option value="MZ" <%=(userToEdit.country=="MZ") ? "selected" : "" %>>Mozambique</option>
                        <option value="NA" <%=(userToEdit.country=="NA") ? "selected" : "" %>>Namibia</option>
                        <option value="NR" <%=(userToEdit.country=="NR") ? "selected" : "" %>>Nauru</option>
                        <option value="NP" <%=(userToEdit.country=="NP") ? "selected" : "" %>>Nepal</option>
                        <option value="NI" <%=(userToEdit.country=="NI") ? "selected" : "" %>>Nicaragua</option>
                        <option value="NE" <%=(userToEdit.country=="NE") ? "selected" : "" %>>Níger</option>
                        <option value="NG" <%=(userToEdit.country=="NG") ? "selected" : "" %>>Nigeria</option>
                        <option value="NU" <%=(userToEdit.country=="NU") ? "selected" : "" %>>Niue</option>
                        <option value="NF" <%=(userToEdit.country=="NF") ? "selected" : "" %>>Norfolk</option>
                        <option value="NO" <%=(userToEdit.country=="NO") ? "selected" : "" %>>Noruega</option>
                        <option value="NC" <%=(userToEdit.country=="NC") ? "selected" : "" %>>Nueva Caledonia</option>
                        <option value="NZ" <%=(userToEdit.country=="NZ") ? "selected" : "" %>>Nueva Zelanda</option>
                        <option value="OM" <%=(userToEdit.country=="OM") ? "selected" : "" %>>Omán</option>
                        <option value="NL" <%=(userToEdit.country=="NL") ? "selected" : "" %>>Países Bajos</option>
                        <option value="PA" <%=(userToEdit.country=="PA") ? "selected" : "" %>>Panamá</option>
                        <option value="PG" <%=(userToEdit.country=="PG") ? "selected" : "" %>>Papúa Nueva Guinea</option>
                        <option value="PK" <%=(userToEdit.country=="PK") ? "selected" : "" %>>Paquistán</option>
                        <option value="PY" <%=(userToEdit.country=="PY") ? "selected" : "" %>>Paraguay</option>
                        <option value="PE" <%=(userToEdit.country=="PE") ? "selected" : "" %>>Perú</option>
                        <option value="PN" <%=(userToEdit.country=="PN") ? "selected" : "" %>>Pitcairn</option>
                        <option value="PF" <%=(userToEdit.country=="PF") ? "selected" : "" %>>Polinesia Francesa</option>
                        <option value="PL" <%=(userToEdit.country=="PL") ? "selected" : "" %>>Polonia</option>
                        <option value="PT" <%=(userToEdit.country=="PT") ? "selected" : "" %>>Portugal</option>
                        <option value="PR" <%=(userToEdit.country=="PR") ? "selected" : "" %>>Puerto Rico</option>
                        <option value="QA" <%=(userToEdit.country=="QA") ? "selected" : "" %>>Qatar</option>
                        <option value="UK" <%=(userToEdit.country=="UK") ? "selected" : "" %>>Reino Unido</option>
                        <option value="CF" <%=(userToEdit.country=="CF") ? "selected" : "" %>>República Centroafricana</option>
                        <option value="CZ" <%=(userToEdit.country=="CZ") ? "selected" : "" %>>República Checa</option>
                        <option value="ZA" <%=(userToEdit.country=="ZA") ? "selected" : "" %>>República de Sudáfrica</option>
                        <option value="DO" <%=(userToEdit.country=="DO") ? "selected" : "" %>>República Dominicana</option>
                        <option value="SK" <%=(userToEdit.country=="SK") ? "selected" : "" %>>República Eslovaca</option>
                        <option value="RE" <%=(userToEdit.country=="RE") ? "selected" : "" %>>Reunión</option>
                        <option value="RW" <%=(userToEdit.country=="RW") ? "selected" : "" %>>Ruanda</option>
                        <option value="RO" <%=(userToEdit.country=="RO") ? "selected" : "" %>>Rumania</option>
                        <option value="RU" <%=(userToEdit.country=="RU") ? "selected" : "" %>>Rusia</option>
                        <option value="EH" <%=(userToEdit.country=="EH") ? "selected" : "" %>>Sahara Occidental</option>
                        <option value="KN" <%=(userToEdit.country=="KN") ? "selected" : "" %>>Saint Kitts y Nevis</option>
                        <option value="WS" <%=(userToEdit.country=="WS") ? "selected" : "" %>>Samoa</option>
                        <option value="AS" <%=(userToEdit.country=="AS") ? "selected" : "" %>>Samoa Americana</option>
                        <option value="SM" <%=(userToEdit.country=="SM") ? "selected" : "" %>>San Marino</option>
                        <option value="VC" <%=(userToEdit.country=="VC") ? "selected" : "" %>>San Vicente y Granadinas</option>
                        <option value="SH" <%=(userToEdit.country=="SH") ? "selected" : "" %>>Santa Helena</option>
                        <option value="LC" <%=(userToEdit.country=="LC") ? "selected" : "" %>>Santa Lucía</option>
                        <option value="ST" <%=(userToEdit.country=="ST") ? "selected" : "" %>>Santo Tomé y Príncipe</option>
                        <option value="SN" <%=(userToEdit.country=="SN") ? "selected" : "" %>>Senegal</option>
                        <option value="SC" <%=(userToEdit.country=="SC") ? "selected" : "" %>>Seychelles</option>
                        <option value="SL" <%=(userToEdit.country=="SL") ? "selected" : "" %>>Sierra Leona</option>
                        <option value="SG" <%=(userToEdit.country=="SG") ? "selected" : "" %>>Singapur</option>
                        <option value="SY" <%=(userToEdit.country=="SY") ? "selected" : "" %>>Siria</option>
                        <option value="SO" <%=(userToEdit.country=="SO") ? "selected" : "" %>>Somalia</option>
                        <option value="LK" <%=(userToEdit.country=="LK") ? "selected" : "" %>>Sri Lanka</option>
                        <option value="PM" <%=(userToEdit.country=="PM") ? "selected" : "" %>>St Pierre y Miquelon</option>
                        <option value="SZ" <%=(userToEdit.country=="SZ") ? "selected" : "" %>>Suazilandia</option>
                        <option value="SD" <%=(userToEdit.country=="SD") ? "selected" : "" %>>Sudán</option>
                        <option value="SE" <%=(userToEdit.country=="SE") ? "selected" : "" %>>Suecia</option>
                        <option value="CH" <%=(userToEdit.country=="CH") ? "selected" : "" %>>Suiza</option>
                        <option value="SR" <%=(userToEdit.country=="SR") ? "selected" : "" %>>Surinam</option>
                        <option value="TH" <%=(userToEdit.country=="TH") ? "selected" : "" %>>Tailandia</option>
                        <option value="TW" <%=(userToEdit.country=="TW") ? "selected" : "" %>>Taiwán</option>
                        <option value="TZ" <%=(userToEdit.country=="TZ") ? "selected" : "" %>>Tanzania</option>
                        <option value="TJ" <%=(userToEdit.country=="TJ") ? "selected" : "" %>>Tayikistán</option>
                        <option value="TF" <%=(userToEdit.country=="TF") ? "selected" : "" %>>Territorios franceses del Sur</option>
                        <option value="TP" <%=(userToEdit.country=="TP") ? "selected" : "" %>>Timor Oriental</option>
                        <option value="TG" <%=(userToEdit.country=="TG") ? "selected" : "" %>>Togo</option>
                        <option value="TO" <%=(userToEdit.country=="TO") ? "selected" : "" %>>Tonga</option>
                        <option value="TT" <%=(userToEdit.country=="TT") ? "selected" : "" %>>Trinidad y Tobago</option>
                        <option value="TN" <%=(userToEdit.country=="TN") ? "selected" : "" %>>Túnez</option>
                        <option value="TM" <%=(userToEdit.country=="TM") ? "selected" : "" %>>Turkmenistán</option>
                        <option value="TR" <%=(userToEdit.country=="TR") ? "selected" : "" %>>Turquía</option>
                        <option value="TV" <%=(userToEdit.country=="TV") ? "selected" : "" %>>Tuvalu</option>
                        <option value="UA" <%=(userToEdit.country=="UA") ? "selected" : "" %>>Ucrania</option>
                        <option value="UG" <%=(userToEdit.country=="UG") ? "selected" : "" %>>Uganda</option>
                        <option value="UY" <%=(userToEdit.country=="UY") ? "selected" : "" %>>Uruguay</option>
                        <option value="UZ" <%=(userToEdit.country=="UZ") ? "selected" : "" %>>Uzbekistán</option>
                        <option value="VU" <%=(userToEdit.country=="VU") ? "selected" : "" %>>Vanuatu</option>
                        <option value="VE" <%=(userToEdit.country=="VE") ? "selected" : "" %>>Venezuela</option>
                        <option value="VN" <%=(userToEdit.country=="VN") ? "selected" : "" %>>Vietnam</option>
                        <option value="YE" <%=(userToEdit.country=="YE") ? "selected" : "" %>>Yemen</option>
                        <option value="YU" <%=(userToEdit.country=="YU") ? "selected" : "" %>>Yugoslavia</option>
                        <option value="ZM" <%=(userToEdit.country=="ZM") ? "selected" : "" %>>Zambia</option>
                        <option value="ZW" <%=(userToEdit.country=="ZW") ? "selected" : "" %>>Zimbabue</option>
                    </select>
                </div>

                <div class="form-data-section">
                    <label for="pic">Foto de usuario</label> 
                    <div class="image-section">
                        <input type="file" name="profilePic" accept="image/*">
                        <img src="/img/usersImages/<%= userToEdit.profilePic %>" alt="Foto de perfil">
                    </div>
                </div>

                <!-- <div class="form-data-section">
                    <input type="password" name="newpassword" class="input-field" placeholder="Nueva contraseña" >
                </div> -->

                <div class="form-data-section">
                    <input type="password" name="password" class="input-field" placeholder="Contraseña" >
                </div>

                <button type="submit" class="form-button blue-button emphasize-button">Confirmar cambios</button>
            </form>
                
            <form class="registration-form" action="/users/delete/<%= userToEdit.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">

                <button type="submit" class="form-button red-button emphasize-red-button">Darme de baja</button>
                
            </form>

        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>